
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;500;600;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,700;1,500;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700;800&display=swap');

* {
    margin: 0px;  
    padding: 0px; 
    box-sizing: border-box; 
    /* font-family: 'Montserrat', sans-serif; */
    font-family: 'Nanum Gothic', sans-serif;

} 

@media screen and (max-width: 320px ){

    body {
        background-image: linear-gradient( to top, #141126, #1B1447);
        color: white;
    } 

    .titulo {
        text-align: center; 
        padding: 1rem;  
        background-color: ;
    } 
    p{
        font-size: 13px;
    }
    
    .list{
        padding: 1vh;
        display: grid;
        grid-template-columns: repeat(1, 1fr);  
        justify-content: center; 
        align-content: start;
    }
 
 
    .menu {
    background-color: white;
    padding-top: 0vh;
    padding: 5vh;  
    justify-content: center; 
    align-items: justify; 
    text-align: left; 
    
    
 } .btn {
    margin: 1rem .5rem 1rem .5rem; 
    border: none;
    border-radius: 0; 
    background-color: white ; 
    font-size: 1rem; 
    color: #1B1447; 
    font-weight: 600;  
    text-align: none;
    
} .result{
    margin: 5vh 0px 0px 0px;
    padding: 2rem;
    background-color: aliceblue; 
    color: green;
} ul.list-item{
    text-align: center;
    background-color: white; 
    margin: .5vh; 
    border-radius: 1.8vh; 
    border: solid 1px #1B1447;
}

}
